*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito',Arial, Helvetica, sans-serif;
    list-style: none;
    color: black;
}
@font-face {
    font-family: 'Lobster';
    src: url(./fonts/Lobster/Lobster-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url(./fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url(./fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: normal;
}
:root{
    --cor_principal:#FE871C;
    --cor_principal_variada:#fc9439;
    --cor_secundaria:#E65C19;
    --cor_terciaria:#FC4E28;
    --facebook: #3b5998;
    --instagram:#FE1C70;
    --twitter:#1DA1F2;
    --cinza_card:rgb(240, 236, 236);
}
.border{
    border:solid 1px black;
}
.a_buttom{
    display: inline-block;
    border: solid 1px black;
    width: 70px;
    padding: 5px;
    border-radius:20px 50px 10px;
    text-align: center;
}
.container{
    width: 100%;
    padding: 10px;
}
.title_destaque{
    margin-bottom:20px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    background-color:var(--cor_principal);
    color: white;
    font-family:'Roboto';
}
.title_form{
    text-align: center;
    font-size: 23px;
    font-family:'Roboto_Bold';
    margin: 30px;
}
.title_prato{
    text-transform: capitalize;
}
.title_autor{
    text-transform: capitalize;
    color: var(--cor_principal_variada);
}
.title_generico{
    color: var(--cor_principal_variada);
    font-size: 30px;
}
.icon_png{
    width: 22px;
    height: 22px;
}
.msg_erro{
    color: red;
    display: none;
}
@media (min-width:1064px){
    .container{
        width: 90%;
        margin: 5px auto;      
    }
}
/***********1.1-ETAPA: Landpage***********/

/*Logo_Login*/
.logo{
    border-radius: 10px;
    border: none;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 45px;
    padding: 10px;

    background-color: white;
    color: black;
}
.logo_login{
    background-color: var(--cor_terciaria);

    display:flex;
    justify-content: space-between;
    padding: 25px;
}
.logo_login .a_buttom{
    padding: 10px;
    width: 90px;

    border-radius: 20px;
    border:none;

    color: white;
    background-color: rgba(218, 238, 43, 0.253);

    text-transform: uppercase;
}
.logo_login .a_buttom:hover{
    background-color: rgba(254, 191, 28, 0.473);
}
.bt_cadReceita{
    display: inline;
}
.a_envieReceita{
    display: none;
    font-size: 20px;
    text-align: center;
    margin:auto;
}

/*Menu*/
#nav{
    background-color: white;
    box-shadow: 0px 1px 4px black;
}
#nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px;
}
#nav ul li{
    margin: 7px;
    padding: 10px;
}
#nav ul li:hover a{
    color: var(--cor_principal_variada);
}
.a_cadastro{
    display: inline;
}
/*MENU MOBILE*/
#menu_mobile{
    display: none;
}
#bt_mobile{
    padding: 10px;
    width: 90px;

    border-radius: 20px;
    border:none;

    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
/*Page_Intro*/
.page_intro{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;  
    width: 100%;
    text-align: center;
}
.page_intro img{ 
    width: 600px;
}
.position_right{  
    margin-left: 200px;
}
.page_intro h1{
    font-size: 100px;
    font-family: 'Lobster';
}
.page_intro p{
    font-size: 20px;
}
.page_intro .a_buttom{
    margin-top: 8px;
    font-size: 25px;
    width: auto;
    padding: 10px;
    border-radius: 20px 10px;
    background-color: var(--cor_principal_variada);
    border: none;
    color: white;
}
@media (max-width:1064px) {
    .position_left{ 
        display: none;
    }
    .position_right{
        text-align: center;
        width: 100%;
        margin: 15px auto;
    }
    /*MENU MOBILE*/
    .login_none{
        display: none;
    }
    #menu_mobile{
        display: block;
    }
    #nav{
        display: none;        
    }
    #nav.ativar_menu{
        display: flex;
    }
    #nav ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 96px;
        height: 100vh;
        z-index: 1000;

        background-color: white;
    }
    #nav ul li{
        border-bottom:1px solid var(--cinza_card) ;
        width: 100%;
    }
    #nav ul li:hover{
        border-left: 3px solid var(--cor_principal_variada);
    }
    .a_envieReceita{
        display: block;
        border: none !important;
    }
}

/*Destaque*/
.destaque,.recente_add{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;  
}
.card{
    width: 450px;
    height: 358px;
    margin: 10px;
    text-align: center;

    border-radius: 10px;

    background-color: var(--cinza_card);
}
.card:hover{
    position: relative;
    right:5px;
    bottom:5px;
    box-shadow: 1px 1px 10px black;
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
/*Footer*/
#footer{
    background-color: var(--cor_terciaria);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
#footer p, .sobre a{
    color:white;
}
#footer h3{
    font-size: 25px;
}
.rede_social{
    text-align: center;
}
.rede_social a{
    margin-left: 7px;
    font-size: 22px;
}
#facebook:hover{
    color: var(--facebook);
}
#instagram:hover{
    color: var(--instagram);
}
#twitter:hover{
    color: var(--twitter);
}
.copy{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    
    background-color: rgb(214, 218, 223);
}
@media (max-width:992px) {
    .destaque,.recente_add{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
    }
    #footer{
        display: block;
        text-align: center;
    }
    .contado,.sobre{
        margin: 7px 0px;
    }
}
@media (min-width:1064px){

    .card{
        width: 330px;
        height: 300px;
        margin: 10px;
        text-align: center;
    
        border-radius: 10px;
    
        background-color: var(--cinza_card);
    }
}

/***********1.2-ETAPA: Conceito Login_Cadastro***********/

/*LOGIN*/
.body_form{
    background-color: var(--cor_terciaria);
}
.body_form .logo{
    background-color: white;
    color: black;
    border: none;
    margin: 5px;
}
#login{
    background-color: white;

    border:none;
    border-radius: 10px;
    
    width: 480px;
    height: 400px;
    margin: 120px auto;
}
.div_login{
    padding: 10px;
    width: 100%;
    margin: 0px auto;
}
#username,#password,.bt{
    display: flex;
    justify-content: center;
    align-items: center;
}
#username,#password{
    border: none;
    border-bottom: 1px dotted black;
    outline: none;

    width: 80%;
    margin: 30px auto;

    font-size: 17px;
}
#username:focus,#password:focus{
    background-color: #fcd0693a;
    padding: 4px;
}
.bt{
    width: 40%;
    margin: 60px auto;
    padding: 10px;

    border-radius: 4px;
    border: 1px solid var(--cor_terciaria);
    background-color: white;
}
.bt:hover{
    color:white;
    background-color: var(--cor_terciaria);
}
#login a{
    display:block;
    text-align: center;
    color: var(--cor_terciaria);
}
#login a:hover{
    color: black;
}
/*CADASTRO*/
#cadastro{
    background-color: white;

    width: 700px;
    height: 500px;
    margin: 120px auto;

    border: none;
    border-radius: 10px;
}
.div_cadastro{
    display: inline-block;
    padding: 30px;
}
.div_cadastro input{
    border-radius: 10px;

    width: 300px;
    padding: 7px;
    margin-top: 20px;

    font-size: 17px;
}
.birthday{
    width: 300px;
    height: 41px;

    display: inline-block;
    margin: 0px auto;
}
.birthday h2{
    font-size: 16px;
    display: inline;
    font-weight: lighter;
}
.user_birthday{
    padding: 4px;
}
.user_day{
    border-radius: 7px 0px 0px 7px;
}
.user_year{
    border-radius: 0px 7px 7px 0px;
}
.genero{
    margin:7px;
}
.genero input{
    width: auto;
}

/***********1.3-ETAPA: Conceito Catálogo_Receitas:***********/

.cont_catalogo{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card_catalogo{
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.card_catalogo .card{
    display: flex;
    width: 600px;
    height: 200px;
}
.card_catalogo .card a{
    display: flex;
    gap: 50px;
}
.card_catalogo .card img{
    border-radius: 10px 0px 0px 10px;
}
.sub_card_left{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
/*FILTRO*/  
#filtro{
    width: 20%;
    height: 100%;

    border-radius: 10px;
    border:1px solid rgb(0, 0, 0,.2);
}
.filtro_list li{
    border-bottom:1px dotted rgb(0, 0, 0,.4);

    padding: 7px;
    margin-bottom: 4px;
    text-transform: capitalize;

    color:rgb(0, 0, 0,.7);
}
@media (max-width:675px) {
    .card_catalogo{
        width: 70%;
    }
    .card_catalogo .card{
        display: flex;
        width: 450px;
        height: 300px;
    }
    .card_catalogo .card a{
        display: inline-block;
    }
    .card_catalogo .card img{
        border-radius: 10px 10px 0px 0px;
    }
    #filtro{
        width: auto;
    }
}

/***********1.3.2-ETAPA: Conceito Apresentando_Receitas:***********/

.info_visual{
    width: 577px;
    height: 527px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--cinza_card);
}
.info_visual img{
    width: 100%;
    
}
.info_visual .not_border_right{
    border-right: none;
}
.mini_card{
    text-align: center;
    width: 25%;

    border-right:1px solid rgb(0, 0, 0,.7);
}
.circulo_perfil{
    display: block;
    width: 70px;
    height: 70px;
    margin: 0px auto;

    border:1px solid black;
    border-radius: 100%;
}
/*INGREDIENTES*/
.aprsenta_prato{
    margin-top: 30px;
}
.ingrediente,.preparo,.dicas_adicionais{
    padding: 10px;
    margin-top: 10px;

    border-radius: 10px;

    background-color: var(--cinza_card);
}
.ingrediente h2, .preparo h2, .dicas_adicionais h2{
    text-align: center;
}
.ingrediente ul li{
    list-style: circle;
    list-style-position: inside;
    font-size: 19px;
}
/*PREPARO*/
.preparo ol li{
    list-style:disc;
    list-style-position: inside;
    font-size: 19px;
}

/***********1.4-ETAPA: Conceito Cadastro_Receitas:***********/

.enviar_receita{
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;

    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
}
.enviar_receita h1{
    margin-bottom: 20px;
}
.enviar_receita input{
    border-radius: 10px;

    width: 300px;
    padding: 7px;

    font-size: 17px; 
    text-transform: capitalize;
}
.enviar_receita textarea{
    resize:none; /*NÃO PERMITE QUE O USUÁRIO MOVIMENTE A CAIXA DE TEXTO*/
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}
.temp_porc{
    display: flex;
    align-items: center;
}
.temp, .porc{
    padding: 1px;
    margin: 8px auto;
}
.temp legend, .porc legend{
    margin: 10px;
}
.porc input,.temp input{
    width: 200px;
}
.line{
    border:1px solid black;
    border-radius: 90px;

    height: 60px;
}
.file{
    display: inline-flex;
    align-items: center;
    width: 50%;
    margin: 16px;

    border: 1px solid black;
    border-radius: 20px;

}
.file input{
    display: none;
}
.file label{
    border-radius: 20px;

    padding: 5px;
    margin-right: 3px;

    background-color: var(--cor_terciaria);
    color: white;

    cursor: pointer;
}
@media (max-width:969px) {
    .enviar_receita{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .enviar_receita input{
        width: 100%;
    }
    .temp_porc{
        flex-flow: column;
        width: 100%;
    }
    .temp,.porc{
        margin: 0px;
        width: 100%;
    }
    .line{
        display: none;
    }
    #porcao,#minuto{
        margin: 0px;
        width: 100%;
    }
    .file{
        width: auto;
        border: none;
    }
    .file span{
        display: none;
    }
}

/***********1.6-ETAPA: Conceito Sobre:***********/

#funcionario{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.card_func{
    text-align: center;
    width: 300px;
}
.card_func span{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px auto;
    border-radius: 100%;
}
.card_func p{
    font-size: 18px;
}

/***********1.6-ETAPA: Conceito Anuncio:***********/

.info_anuncie{
    border-radius: 10px;
    margin: 0px auto 50px 0px;
    background-color: rgba(209, 207, 207, 0.356);
    padding: 10px;
}